<% title "List of Location" %>
<div class="row show-grid">
  <div class="span4">
    <%= content_tag :h2, :class => "pgTitle" do
      yield(:title) if show_title?
    end %>
  </div>
</div>
<%= render :partial => 'form' %>

<p>
  <%= link_to "Show", @stare %> |
  <%= link_to "View All", states_path %>
</p>
