<% title "List of Location" %>
<div class="row">
  <%= page_title(yield(:title)) %>
</div>
<%= render :partial => 'form' %>

<p>
  <%= link_to "Show", @stare %> |
  <%= link_to "View All", states_path %>
</p>
