input[type="image"], input[type="checkbox"], input[type="radio"]{ margin: auto }

fieldset {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #AAAAAA;
    border-radius: 4px 4px 0 0;
    box-shadow: 1px 1px 2px #FFFFFF inset;
    margin-top: 1em;
    padding: 1.5em;
    text-shadow: 0 1px 0 #FFFFFF;
}
fieldset legend{
    background-color: #FFFFFF;
    border: 1px solid #AAAAAA;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 3px 3px 15px #BBBBBB;
    color: #444444;
    font-weight: bold;
    padding: 5px 10px;
    width: auto;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 0
}

.area_fields{margin-bottom: 10px; padding-left: 20px;}

.control-group.error label {color: #B94A48} /* working need to be done on this line */

.showStateView .cityName        { font-size: 15px; font-weight: bold }
.showStateView ol > ul   { margin-bottom: 30px }

.showView li{ margin-bottom: 20px }
.showView label{ display: inline-block; text-align: right; width: 140px; margin-right: 5px }
.form-horizontal.threeColFields .control-group,
.form-horizontal .threeColFields li.control-group { float: left;  margin-bottom: 18px; width: 385px; }

.qualificationWrap{
    display: inline-block;
    width: 210px;
    height: 100px;
    padding: 4px;
    font-size: 13px;
    line-height: 18px;
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    overflow: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.qualificationWrap li{ margin: 0 0 3px 5px }
